0.rascunhos/pbix-comercial-gricola/Automação/Microsoft.Flow/flows/0f26c2e2-8ca9-4004-ba2f-ed36bbc39c3d/definition.json
{"name":"fc735faa-bafa-48de-b474-a4adb44c3b73","id":"/providers/Microsoft.Flow/flows/fc735faa-bafa-48de-b474-a4adb44c3b73","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Analise Vendedores - Imersão","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b3bf9446-93ad-41b0-9797-d18d7c248848","type":"User","tenantId":"fb536d3c-d949-4ba9-a5f2-cb88cf02bc10"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-09-30T00:51:09.8203035Z","connectionKeySavedTimeKey":"2024-09-30T00:51:09.8203035Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recorrência":{"recurrence":{"interval":1,"frequency":"Month"},"type":"Recurrence"}},"actions":{"Executar_uma_consulta_em_um_conjuntos_de_dados":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"groupid":"myworkspace","datasetid":"a368a973-3689-4c71-8a5c-90a8a9d31db0","specification/query":"DEFINE\n\tVAR __DS0FilterTable = \n\t\tTREATAS({\"Ano Atual\"}, 'dCalendario'[AnoAtual])\n\n\tVAR __DS0FilterTable2 = \n\t\tTREATAS({\"Mês Atual\"}, 'dCalendario'[MesAtual])\n\n\tVAR __DS0FilterTable3 = \n\t\tTREATAS({TRUE}, 'dCalendario'[Passado])\n\n\tVAR __DS0Core = \n\t\tSUMMARIZECOLUMNS(\n\t\t\t'dCalendario'[Ano],\n\t\t\t'dCalendario'[NomeMes],\n\t\t\t'dCalendario'[MesNum],\n\t\t\t'dVendedor'[descricao],\n\t\t\t__DS0FilterTable,\n\t\t\t__DS0FilterTable2,\n\t\t\t__DS0FilterTable3,\n\t\t\t\"v__Margem_bruta\", 'Medidas'[$ Margem bruta],\n\t\t\t\"v__Faturamento\", 'Medidas'[$ Faturamento],\n\t\t\t\"v__Faturamento_vs_Meta\", 'Medidas'[$ Faturamento vs Meta],\n\t\t\t\"v__Meta\", 'Medidas'[$ Meta],\n\t\t\t\"v__Margem_Bruta2\", 'Medidas'[% Margem Bruta],\n\t\t\t\"v__Ticket_Medio\", 'Medidas'[$ Ticket Medio],\n\t\t\t\"Itens_Vendidos\", 'Medidas'[Itens Vendidos]\n\t\t)\n\n\tVAR __DS0PrimaryWindowed = \n\t\tTOPN(\n\t\t\t501,\n\t\t\t__DS0Core,\n\t\t\t[v__Margem_bruta],\n\t\t\t1,\n\t\t\t'dCalendario'[Ano],\n\t\t\t1,\n\t\t\t'dCalendario'[MesNum],\n\t\t\t1,\n\t\t\t'dCalendario'[NomeMes],\n\t\t\t1,\n\t\t\t'dVendedor'[descricao],\n\t\t\t1\n\t\t)\n\nEVALUATE\n\t__DS0PrimaryWindowed\n\nORDER BY\n\t[v__Margem_bruta],\n\t'dCalendario'[Ano],\n\t'dCalendario'[MesNum],\n\t'dCalendario'[NomeMes],\n\t'dVendedor'[descricao]","specification/serializerSettings/includeNulls":false},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"ExecuteDatasetQuery"},"authentication":"@parameters('$authentication')"}},"HTTP":{"runAfter":{"Executar_uma_consulta_em_um_conjuntos_de_dados":["Succeeded"]},"type":"Http","inputs":{"uri":"https://api.groq.com/openai/v1/chat/completions","method":"POST","headers":{"Content-Type":"application/json","Authorization":"Bearer sua_chave_api"},"body":{"messages":[{"role":"user","content":"Liste pra mim os 3 melhores vendedores considerando a margem bruta em R$ do maior para o menor no qual preciso dar uma bonificação e os 3 piores considerando a margem do menor para o maior para eu dar um feedback, utilize todas as métricas disponiveis nessa base para analisar e em cada vendedor listaando a justificativa de bonificação e de feedback. Segue o resultado: @{body('Executar_uma_consulta_em_um_conjuntos_de_dados')} Forneça toda a sua resposta dentro de um html começando com <!DOCTYPE html><html, não precisa colocar em uma caixa htlm ```html nem concluir sua resposta somente o que eu pedi dentro do html ."}],"model":"llama-3.2-90b-text-preview","temperature":0.3}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Analisar_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"id":{"type":"string"},"object":{"type":"string"},"created":{"type":"integer"},"model":{"type":"string"},"choices":{"type":"array","items":{"type":"object","properties":{"index":{"type":"integer"},"message":{"type":"object","properties":{"role":{"type":"string"},"content":{"type":"string"}}},"logprobs":{},"finish_reason":{"type":"string"}},"required":["index","message","logprobs","finish_reason"]}},"usage":{"type":"object","properties":{"queue_time":{"type":"number"},"prompt_tokens":{"type":"integer"},"prompt_time":{"type":"number"},"completion_tokens":{"type":"integer"},"completion_time":{"type":"number"},"total_tokens":{"type":"integer"},"total_time":{"type":"number"}}},"system_fingerprint":{"type":"string"},"x_groq":{"type":"object","properties":{"id":{"type":"string"}}}}}}},"For_each":{"foreach":"@outputs('Analisar_JSON')?['body']?['choices']","actions":{"Enviar_um_email_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"anderson.xperiun@gmail.com","emailMessage/Subject":"Analise vendedores Imersão","emailMessage/Body":"<p class=\"editor-paragraph\">@{items('For_each')?['message']?['content']}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_outlook","connectionName":"shared_outlook","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Analisar_JSON":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_powerbi":{"connectionName":"shared-powerbi-cba95711-d1e4-4b23-9ceb-b156c77f94ba","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_powerbi","tier":"NotSpecified"},"shared_outlook":{"connectionName":"shared-outlook-eac0cebf-c8e9-4d60-ada7-696ddbbf1c2b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_outlook","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}